
/* 置顶插件样式 */
.to-top {
    background: url("/_media/火箭.svg") no-repeat center / 50%;
    width: 45px;
    height: 45px;
    display: none;
    padding: 10px 15px;
    margin-right: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px 3px #999999;
}